@{
    ViewBag.Title = "CreatePasswords";
    
}
@model WaxWelio.Entities.Models.CreateNewPasswordModel

<div class="overlay-div-single" id="divLoading" style="display: none;">
    <div class="div-over"></div>
    <img src="~/static/images/loading.gif" style="width: 64px" />
</div>
@using (Html.BeginForm("CreatePasswords", "Clinic", FormMethod.Post))
{
    <div style="text-align: center">
        <div style="margin-bottom: 2em; margin-top: 3em">
            <h1>Welcome to WELIO</h1>
        </div>
        <div style="font-size: 27px">To get started please create a password</div>
        @Html.ValidationSummary(true, string.Empty, new {@class = "text-danger"})
        <div class="col-lg-12 padding-top-2" style="text-align: left">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <small>Password</small><br />
                <!--<input class="signup-input"/>-->
                @Html.PasswordFor(model => model.Password, new {@class = "form-control signup-input"})
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-12 padding-top-1" style="text-align: left">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <small>Re-enter password</small><br />
                <!--<input class="signup-input"/>-->
                @Html.PasswordFor(model => model.Re_password, new {@class = "form-control signup-input"})
                @Html.ValidationMessageFor(model => model.Re_password, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Email, new {@value = "@ViewBag.email"})
                @Html.HiddenFor(model => model.Hash, new {@value = "ViewBag.hash"})
            </div>
        </div>
        <div class="col-lg-12 padding-top-4">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <input type="submit" value="Sign-in" class="action-link custom-btn" />
                <div class="padding-top-1">By proceeding I agree to the term and conditions</div>
            </div>
        </div>
    </div>
}
@section scripts{
@Html.Partial("_LoginModal")
    <script>
        $(document)
            .ready(function() {
                var createPass = '@ViewBag.createPass';
                if (createPass === 'true') {
                    var email = '@ViewBag.email';
                    var password = '@ViewBag.password';
                    $('#divLoading').show();
                    $.ajax({
                        url: "../User/SignIn",
                        type: "POST",
                        data: { Email: email, Password: password },
                        success: function(data) {
                            //data - response from server
                            console.log(data);
                            if (data.IsSuccess === true) {
                                if (data.UserType === 99) {
                                    location.href = "/Clinic";
                                } else {
                                    $.each(data.Hospitals,
                                        function(i, l) {
                                            console.log(data.Hospitals);
                                            $('#listHospital')
                                                .append('<option value="' + l.HospitalId + '">' + l.Name + '</option>');
                                        });
                                    if (data.Hospitals.length === 1) {
                                        location.href = "/Appointment";
                                    } else {
                                        $('#content-signin').hide();
                                        $('#content-select-clinic').show();
                                        $('#divLoading').hide();
                                    }
                                }
                            } else {
                                alert('Email or password wrong');
                                $('#divLoading').hide();
                            }
                        },
                        error: function(jqXhr, textStatus, errorThrown) {
                            console.log(errorThrown);
                            $('#divOverlay').hide();
                        }
                    });
                }
            });
    </script>
}
